.u-block-5db5-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5db5-3 {
  position: absolute;
  left: 0;
}

.u-block-5db5-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + -75px);
  bottom: 116px;
}

@media (max-width: 1199px) {
  .u-block-5db5-4 {
    right: calc(((100% - 940px) / 2)  + -62px);
  }
}

@media (max-width: 991px) {
  .u-block-5db5-4 {
    right: calc(((100% - 720px) / 2)  + -47px);
  }
}

@media (max-width: 767px) {
  .u-block-5db5-4 {
    right: calc(((100% - 540px) / 2)  + -35px);
  }
}

@media (max-width: 575px) {
  .u-block-5db5-4 {
    right: calc(((100% - 340px) / 2)  + -22px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(to right, #f19f80, #db545a);
}

.u-section-1-1 .u-sheet-1 {
  min-height: 841px;
}

.u-section-1-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 173px auto 0;
}

.u-section-1-1 .u-text-2 {
  margin: 29px 59px 0;
}

.u-section-1-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 41px auto 0;
}

.u-section-1-1 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px 59px 0;
}

.u-section-1-1 .u-countdown-1 {
  margin: 13px auto 60px;
}

.u-section-1-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-text-3 {
    font-size: 1.5rem;
  }
}